<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Bienvenido a Print the Bill</h1>
    <p class="lead">Este es el front end de nuestra aplicación.</p>
  </div>