<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Print the Bill</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/">Home</a>  <!--añado link a home--> 
    <a class="p-2 text-dark" routerLink="/plays">Plays</a>  <!--añado link a Plays--> 
    <a class="p-2 text-dark" routerLink="/borderos">Borderos</a>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>