<h2>Plays<a routerLink="/plays/new" class="btn btn-success float-right">Nueva obra</a></h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
      <th>#</th>
      <th>Código</th>
      <th>Nombre</th>
      <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let play of resultsPage.results">
      <!-- especifico de donde leo el id, y el objeto que muestro(el pincelito)-->
      <td>
        <a routerLink="/plays/{{play.code}}"><i class="fa fa-pencil"></i></a>
        <a (click)="remove(play.code)" [routerLink]=""><i class="fa fa-remove"></i></a>
      </td>
      <td>{{ play.code }}</td>
      <td>{{ play.name }}</td>
      <td>{{ play.type }}</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example" [hidden]="resultsPage.count <= 1">
      <ul class="pagination pagination-centered">
        <li class="page-item">
          <a class="page-link" (click)="showPage(-2)">&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="showPage(-1)">&lsaquo;</a>
        </li>
        <li *ngFor="let t of pages; trackBy: $index" [ngClass]="{true: 'active'}[t+1 === currentPage]">
          <a class="page-link" (click)="showPage(t + 1)"> {{t+1}} </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="showPage(-3)">&rsaquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="showPage(-4)">&raquo;</a>
        </li>
      </ul>
    </nav>
  </div>