<div *ngIf="play">
    <h2>{{ play.name | uppercase }}</h2>
    <form #form="ngForm">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input [(ngModel)]="play.name" name="name" placeholder="Nombre" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="name">Código:</label>
        <input [(ngModel)]="play.code" name="code" placeholder="Código" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="type">Tipo</label>
         <input id="typeahead-basic" name="type" type="text" class="form-control" [(ngModel)]="play.type" [ngbTypeahead]="searchType" [editable]='false'/>
      </div>
      <button (click)="goBack()" class="btn btn-danger">Atrás</button>
      &nbsp;
      <button (click)="save()" [disabled]="!form.valid" class="btn btn-success">Guardar</button>
    </form>
  </div>
