<h2>Borderos<a routerLink="/borderos/new" class="btn btn-success float-right">Nuevo Bordero</a></h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bordero of resultsPage.results">
        <td><a routerLink="/borderos/{{bordero.id}}"><i class="fa fa-pencil"></i></a></td>        <td>{{ bordero.date }}</td>
        <td>{{ bordero.custngomer.name }}</td>
        <td>
          <a (click)="remove(bordero.id)" [routerLink]=""><i class="fa fa-remove"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" [hidden]="resultsPage.count <= 1">
    <ul class="pagination pagination-centered">
      <li class="page-item">
        <a class="page-link" (click)="showPage(-2)">&laquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="showPage(-1)">&lsaquo;</a>
      </li>
      <li *ngFor="let t of pages; trackBy: $index" [ngClass]="{true: 'active'}[t+1 === currentPage]">
        <a class="page-link" (click)="showPage(t + 1)"> {{t+1}} </a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="showPage(-3)">&rsaquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="showPage(-4)">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>